
<div class="container flex justify-space-between">
  <div class ="row align-items-end">
    <img src="/images/{{user.avatar}}.avif" class="img-fluid" alt="user image">
    <div class="name-card row">
      <h3 class = "col-3">{{user.first}}</h3>
      <p class="col-8">{{user.bio}}</p>
      <p hidden="true" id="user_id">{{user.id}}</p>
    </div>
  </div>
</div>

<div class="row justify-content-between fixed-bottom p-2">
  <div class="col-4">
    <button type ="button" class="btn btn-primary skip-btn" id="skip">Skip</button>
  </div>
   <div class="col-4">
  <button type="button" class="btn btn-primary match-btn p-2"> 
  <a href="/match" style="color:inherit"> Matches</a>
</button>
  </div>
  <div class="col-4">
  <button type="button" class="btn btn-primary like-btn p-2" id="like">Like </button>
  </div>
</div>

<script src="/js/like_skip.js"></script>