  <div class="container flex justify-space-between">
    <div class ="row align-items-end">
      <img src="./public/images/Panda.avif" class="img-fluid col-12" alt="user image">
      <div class="row">
        <h3 class = "col-3"> First Name</h3>
        <p class="col-8"> Description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem dolores est commodi expedita. Numquam, sequi possimus? Nisi, veniam in totam minus vero adipisci corporis libero esse fugiat ratione, harum soluta?</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-between fixed-bottom">
  <div class="col-3">
    <button type ="button" class="btn btn-primary" type="submit">Skip</button>
  </div>
   <div class="col-3">
  <button type="button" class="btn btn-primary"> 
  <a href="/match" style="color:inherit"> Matches</a>
</button>
  </div>
  <div class="col-3">
  <button type="button" class="btn btn-primary">Like </button>
  </div>
</div>