  <div>
    <img src="{{user.avatar}}" alt="user profile picture">
  </div>
  <div class="row justify-content-between">
  <div class="col-3">
    <button type ="button" class="btn btn-primary" type="submit">Skip</button>
  </div>
   <div class="col-3">
  <button type="button" class="btn btn-primary"> 
  <a href="/matches" style="color:inherit"> Matches</a>
</button>
  </div>
  <div class="col-3">
  <button type="button" class="btn btn-primary">Like </button>
  </div>
</div>