    <h1>Your Matches</h1>
<div class="match-container" data-user-id="{{user_id}}"></div>
      <!-- This container will be populated by match.js -->
    </div>
    <script src="/js/match.js"></script>