<h1>Matches</h1>
{{#each users as |user| }}
<div class="row align-center mb-5">
   <div class="col-md-3">
    <img src="{{user.avatar}}" alt="user avatar">
  </div>
  <div class="col-md-9">
    <h2>{{user.first user.last}}</h2>
  </div>
  <div class="col-md-9">
    <p>{{user.bio}}</p>
  </div>
</div>
{{/each}}
