<h2>New User</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-newUser" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-newUser" />
  </div>
  <div class="form-group">
    <label for="password-confirm">confirm password:</label>
    <input class="form-input" type="password" id="password-confirm" />
  </div>
  <div class="form-group">
    <label for="email-login">first name:</label>
    <input class="form-input" type="text" id="firstName-newUser" />
  </div>
  <div class="form-group">
    <label for="email-login">last name:</label>
    <input class="form-input" type="text" id="lastName-newUser" />
  </div>
  <div class="form-group">
    <label for="email-login">username:</label>
    <input class="form-input" type="text" id="username-newUser" />
  </div>
  <div class="form-group">
  <label for="user-bio">Bio:</label>
  <textarea class="form-input" id="user-bio" rows="4"></textarea>
</div>

    <div class="form-group">
    <label for="user-type">User Type:</label>
    <select class="form-input" id="user-type" name="user-type">
      <option value="business_owner">Business Owner</option>
      <option value="content_creator">Content Creator</option>
    </select>
<div class="form-group">
  <label for="avatar-file">Avatar:</label>
  <input type="file" class="form-input" id="avatar-file" accept="image/*" />
</div>

  <div class="form-group">
    <button class="btn btn-primary login-btn" type="submit">Create New User</button>
  </div>
</form>

<script src="/js/newUser.js"></script>
